<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>어디가지?뭐먹지?</title>
</head>

<style>

</style>

<body>
<div id="divPosition">
    <h1>1번 질문!</h1>
    <img class="image" src="../img/지도.jpeg" alt="구역지도">

    <h3>지도에서 고르세여</h3>

    <form th:action="@{/single}" th:object="${rest}" method="post">
        <div>구역 선택</div>
        <div th:each="location : ${locations}" calss="form-check-inline">
            <input type="checkbox" th:field="*{locations}" th:value="${location.key}" class="form-check-input">
            <label th:for="${#ids.prev('locations')}"
                   th:text="${location.value}" class="form-check-label">1구역</label>
        </div>

        <button id="mainButton"
                onclick="location.href='single.html'"
                th:onclick="|location.href='@{/single}'|"
                type="submit"
        >다음</button>
    </form>


</div>
</body>
</html>