<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/food-type}" th:object="${rest}" method="post">

    <div class="form-check-inline">
        <input type="checkbox" id="single" th:field="*{single}" class="form-check-input">
        <label for="single" class="form-check-label">혼밥</label>
    </div>

    <button id="mainButton"
            onclick="location.href='food-type.html'"
            th:onclick="|location.href='@{/food-type}'|"
            type="submit"
    >다음</button>
</form>
</body>
</html>