<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=100%, initial-scale=1.0">
        <link href="../css/style.css" rel="stylesheet">
        <title>어디가지?뭐먹지?</title>
    </head>

    <style>
       
    </style>

    <body>
        <div id="divPosition">
            <h1>어디가지?뭐먹지?</h1>
            <img class="image" src="../img/보드탄개구리.jpeg" alt="개구리점프">
            <h3>개같은 한밭대! 밥이라도 잘먹자~~~~~~~~~~~~~~~~~~~~~~~~~~!</h3>
            <button id="mainButton"
                    onclick="location.href='location.html'"
                    th:onclick="|location.href='@{/location}'|"
            >START</button>
        </div>
    </body>
</html>