<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/style.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div th:fragment="start-button" class="item item-3 align-center">
    <button id="startButton"
            onclick="location.href='page1.html'"
            th:onclick="|location.href='@{/location}'|"
    >START</button>
</div>

<div th:fragment="next-button" class="item item-3 align-center">
    <button id="nextButton"
            onclick="location.href='page1.html'"
            th:onclick="|location.href='@{/location}'|"
    >NEXT</button>
</div>
</body>
</html>