html,body{height: 100%;}

*{
    margin: 0;
    padding: 0;
}

.progressBar {
    width: 100%;
	height: 25px;
    padding-top: 10px;
}

.mainName {
    line-height:1.0;
    padding-top: 10px;
    font-family: 'East Sea Dokdo', cursive;
    text-decoration: none; 
    color: inherit;
}

.mainImage {
    width: 350px;
    height: auto;
    padding-top: 40px;
}


.container {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(170, 210, 249);
    display: grid;
}

#mainButton {
    width: 180px;
    height: 50px;
    object-fit: cover;
    font-size:30px;
    color: white;
    line-height: 50px;
    text-align: center;
    background: #3b8c9a;
    border: solid 2px grey;
    border-radius: 10px;
    bottom: 20px;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
}

.space_button {
    height: 74px;
}

.space_logo {
    height: 70px;
}

.space_select {
    height: 300px;
}

.map {
    width: 350px;
    height: auto;
    padding-bottom: 100px;
}

.btm_image {
    width: 150px;
    height: 150px;
    border: none;
    object-fit: cover;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

.space_question {
    height: 40px;
}

.empty_space {
    height: 35px;
}