<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <head th:insert="~{fragment/header :: header}">
        <title>어디가지?뭐먹지?</title>
    </head>

    <style></style>

    <body>
        <div class="container">
            <div class="progressBar">
                <progress value="60" max="100" id="jb"></progress>
            </div>

            <div th:insert="~{fragment/main-page :: main-page}"></div>

            <div class="space_question"><h3 class="question">What do you want it?</h3></div>

            <form th:action="@{/price}" th:object="${rest}" method="post">

                <div>카테고리 선택</div>
                <span th:each="foodClass : ${category}" calss="form-check-inline">
                    <input type="checkbox" th:field="*{category}" th:value="${foodClass.key}" class="form-check-input">
                    <label th:for="${#ids.prev('category')}"
                           th:text="${foodClass.value}" class="form-check-label">1구역</label>
                </span>

                <button id="mainButton"
                        onclick="location.href='category.html'"
                        th:onclick="|location.href='@{/category}'|"
                        type="submit"
                >다음</button>
            </form>
        </div>
    </body>
</html>