<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.restaurant.repository.RestMapper">

    <select id="findAll" resultType="RestSearchCond">
        select name
        from restaurant
        <where>
            <if test="locations != null">
                and location in
                <foreach collection="locations" item="locations"
                         open="(" separator="," close=")">
                    #{locations}
                </foreach>
            </if>
            <if test="single != null">
                and single = #{single}
            </if>
            <if test="foodTypes != null">
                and food_type in
                <foreach collection="foodTypes" item="foodTypes"
                         open="(" separator="," close=")">
                    #{foodTypes}
                </foreach>
            </if>
            <if test="category != null">
                and category in
                <foreach collection="category" item="category"
                         open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            <if test="maxPrice != null">
                and price &lt;= #{maxPrice}
            </if>
        </where>
    </select>

</mapper>